.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .left {
    flex: 1;
    margin-left: 10%;
  }
  
  .right {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    align-items:right;
  }
  .info {
    margin-bottom: 20px;
  }

  