/* seventhPage.css */
.seventh-page {
    text-align: center;
    margin-top: 50px;
  }
  
  .seventh-page h2 {
    font-weight: bold;
    font-size: 24px; /* Adjust font size as needed */
    margin-bottom: 20px;
  }
 
  h3 {
    margin-top: 20px;
  }
  
  .opt {
    display: flex;
    justify-content: center;
  }
  
  .optionbox {
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
  }
  
  .text {
    flex: 1;
  }
  
  .images {
    width: 50px; /* Adjust image width as needed */
    height: 50px; /* Adjust image height as needed */
    margin-left: 10px;
  }
  