@import url(https://fonts.googleapis.com/css?family=Montserrat);

.App {
  background:#fff;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

body {
  margin: 0%;
  padding: 0%;
  font-family: montserrat, arial, verdana;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 900px;
  height: 500px;
  background-color: white;
  border-radius: 8px;
  /* box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); */
  display: flex;
  flex-direction: column;
}

.form-container .header {
  flex: 20%;
  display: grid;
  place-items: center;
}

.form-container .body {
  flex: 60%;
}

.form-container .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
}

.form-container .footer button {
  border-radius: 10px;
  width: 100px;
  height: 40px;
  background-color: black;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  margin: 5px;
}



/* PROGRESS BAR */
.progressbar {
  width: 1000px;
  height: 10px;
  background-color: white;
  margin-bottom: 50px;
}
.progressbar div {
  width: 60%;
  height: 100%;
  background-color: green;
}

.header h1 {
  font-weight: bold;
  font-size: 24px; /* Adjust font size as needed */
  margin-bottom: 20px; /* Add margin bottom for spacing */
}
